<a href="https://colab.research.google.com/github/andrejuniorba/Python-CienciaDeDados/blob/main/EDA_An%C3%A1lise_Explorat%C3%B3ria_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Data Science com Python**

Análise exploratória de dados

Import de pacotes

In [2]:
!pip install sweetviz -q

     |████████████████████████████████| 15.1 MB 4.5 MB/s

In [3]:
import sweetviz as sv 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython import display

#configuração para ver os metadados
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

Base de dados e metadados

In [4]:
metadados = pd.read_excel('/content/drive/MyDrive/Dados - Data Science/EDA - Análise exploratória de dados/Banking Deposit/Banking Deposit/metadata.xlsx')

In [5]:
metadados

,Feature,Feature_Type,Description
0,age,numeric,age of a person
1,job,"Categorical,nominal","type of job ('admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')"
2,marital,"categorical,nominal","marital status ('divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)"
3,education,"categorical,nominal","('basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')"
4,default,"categorical,nominal","has credit in default? ('no','yes','unknown')"
5,housing,"categorical,nominal","has housing loan? ('no','yes','unknown')"
6,loan,"categorical,nominal","has personal loan? ('no','yes','unknown')"
7,contact,"categorical,nominal","contact communication type ('cellular','telephone')"
8,month,"categorical,ordinal","last contact month of year ('jan', 'feb', 'mar', …, 'nov', 'dec')"
9,dayofweek,"categorical,ordinal","last contact day of the week ('mon','tue','wed','thu','fri')"
10,duration,numeric,"last contact duration, in seconds . Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no')"
11,campaign,numeric,number of contacts performed during this campaign and for this client (includes last contact)
12,pdays,numeric,number of days that passed by after the client was last contacted from a previous campaign (999 means client was not previously contacted)
13,previous,numeric,number of contacts performed before this campaign and for this client
14,poutcome,"categorical,nominal","outcome of the previous marketing campaign ('failure','nonexistent','success')"
15,y,binary,"has the client subscribed a term deposit? ('yes','no')"

Base de dados

In [6]:
dados = pd.read_csv('/content/drive/MyDrive/Dados - Data Science/EDA - Análise exploratória de dados/Banking Deposit/Banking Deposit/new_train.csv')

In [7]:
dados.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,no
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no

In [8]:
dados.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
32945,28,services,single,high.school,no,yes,no,cellular,jul,tue,192,1,999,0,nonexistent,no
32946,52,technician,married,professional.course,no,yes,no,cellular,nov,fri,64,1,999,1,failure,no
32947,54,admin.,married,basic.9y,no,no,yes,cellular,jul,mon,131,4,999,0,nonexistent,no
32948,29,admin.,married,university.degree,no,no,no,telephone,may,fri,165,1,999,0,nonexistent,no
32949,35,admin.,married,university.degree,no,no,yes,telephone,jun,tue,544,3,999,0,nonexistent,no

Gerando a análise por meio da Sweetviz

In [10]:
relatorio = sv.analyze(dados, target_feat='y')

                                             |          | [  0%]   00:00 -> (? left)

In [11]:
#Salvar o relatório
relatorio.show_html('Análise_sweetviz.html')

Report Análise_sweetviz.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.