<a href="https://colab.research.google.com/github/andrejuniorba/Python-CienciaDeDados/blob/main/Notebook_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science com Python**

## Introdução

Imersão no mundo do Data Science, unindo o fundamental da teoria com a prática em Python.

<center><img src = "http://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" width="250">

## Hello World

In [ ]:
#função "print" para imprimir na tela a mensagem.

print("Olá mundo!")

Olá mundo

In [ ]:
print("Meu nome é André Luz.")

Meu nome é André Luz.

# Tipos de Variáveis

* integer (int) = 2

* float = 1.432

* strings (str) = "Petrobrás" ou 'Petrobrás'

* boolean (bool) = True ou False

In [3]:
nome = 'André'
altura = 1.77
idade = 40

type(nome)

str

In [4]:
type(altura)

float

In [5]:
type(idade)

int

In [15]:
print(f"Meu nome é {nome}")
print("Tenho a idade de {} anos".format(idade))
print("Minha altura em metros é {} ".format(altura))

Meu nome é André
Tenho a idade de 40 anos
Minha altura em metros é 1.77

## Operadores Aritméticos

* Soma +

* Subtração -

* Multiplicação *

* Divisão /

* Resto da divisão %

* Divisão (Apenas a parte inteira) //

* Potência **

In [28]:
a = 5
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a / b)
print(a % b)
print(a**3)

9
1
20
1
1.25
1
125

# Operadores lógicos

### Comparativos:

* Igualdade ==

* Diferente !=

* Menor que <

* Maior que >

* Menor ou igual <=

* Maior ou igual >=

### Condicionais:

* and
* or

In [34]:
e = 10
f = 14
g = 9
h = 12

print(e == f)
print(e != f)
print(e < f)
print(e > f)
print(e >= f)
print(e <= f)

False
True
True
False
False
True

In [37]:
print(e > f and g < h)
print(e > f or g < h)

False
True