<a href="https://colab.research.google.com/github/andrejuniorba/Python-CienciaDeDados/blob/main/Notebook_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science com Python**

Imersão no mundo do Data Science, unindo o fundamental da teoria com a prática em Python.

<center><img src = "http://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" width="250">

# 01. Elementos básicos

## Hello World

In [ ]:
#função "print" para imprimir na tela a mensagem.

print("Olá mundo!")

Olá mundo

In [ ]:
print("Meu nome é André Luz.")

Meu nome é André Luz.

# Tipos de Variáveis

* integer (int) = 2

* float = 1.432

* strings (str) = "Petrobrás" ou 'Petrobrás'

* boolean (bool) = True ou False

In [ ]:
nome = 'André'
altura = 1.77
idade = 40

type(nome)

str

In [ ]:
type(altura)

float

In [ ]:
type(idade)

int

In [ ]:
print(f"Meu nome é {nome}")
print("Tenho a idade de {} anos".format(idade))
print("Minha altura em metros é {} ".format(altura))

Meu nome é André
Tenho a idade de 40 anos
Minha altura em metros é 1.77

## Operadores Aritméticos

* Soma +

* Subtração -

* Multiplicação *

* Divisão /

* Resto da divisão %

* Divisão (Apenas a parte inteira) //

* Potência **

In [ ]:
a = 5
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a / b)
print(a % b)
print(a**3)

9
1
20
1
1.25
1
125

# Operadores lógicos

### Comparativos:

* Igualdade ==

* Diferente !=

* Menor que <

* Maior que >

* Menor ou igual <=

* Maior ou igual >=

### Condicionais:

* and
* or

In [ ]:
e = 10
f = 14
g = 9
h = 12

print(e == f)
print(e != f)
print(e < f)
print(e > f)
print(e >= f)
print(e <= f)

False
True
True
False
False
True

In [ ]:
print(e > f and g < h)
print(e > f or g < h)

False
True

# 02. Estruturas básicas para armazenamento de dados

## Strings

In [ ]:
manchete = 'Petrobrás é uma empresa de capital aberto'

In [ ]:
print(manchete)

Petrobrás é uma empresa de capital aberto

In [ ]:
type(manchete)

str

In [ ]:
#Comprimento (length) da string

len(manchete)

41

In [ ]:
#Indexação
print(manchete[0])
print(manchete[-1])

#Slicing (1º é inclusivo e o 2º é exclusivo)
print(manchete[:-1])
print(manchete[0:9])
print(manchete[:9])
print(manchete[0:])

#apresentação de 2 em 2 caracteres
print(manchete[::2])

#Inverter a frase
print(manchete[::-1])

P
o
Petrobrás é uma empresa de capital abert
Petrobrás
Petrobrás
Petrobrás é uma empresa de capital aberto
Ptorséuaepead aia bro
otreba latipac ed aserpme amu é sárborteP

### Propriedades das strings

* Imutável (não é possível mudar elementos)
* Adição (concatenar)
* Modificar para Maiúscula (uppercase) ou minúscula (lowercase)

In [ ]:
texto1 = 'André'
texto2 = ' tem 40 anos.'
frase = texto1 + texto2

print(frase)
print(frase.upper())
print(frase.lower())

André tem 40 anos.
ANDRÉ TEM 40 ANOS.
andré tem 40 anos.

In [ ]:
#Método split => Separar as palavras dentro de uma string
#Adicionar em uma lista

print(frase.split())

#adicionar quebra em um ponto específico. Neste caso sempre onde tiver a letra "e"
print(frase.split('e'))

['André', 'tem', '40', 'anos.']
['André t', 'm 40 anos.']

## Listas

In [3]:
nomes = ['André', 'João', 'Maria', 3, 48]

In [2]:
type(nomes)

list

In [4]:
#Indexação e slicing segue o mesmo padrão das strings

print (nomes[1])
print(type(nomes[4]))

João
<class 'int'>

In [9]:
print('Os aprovados no concurso são ' + nomes[0] + ' e ' + nomes[2])

Os aprovados no concurso são André e Maria

###Propriedades das listas

* São mutáveis
* Adição (concatenação)
* Multiplicar
* append (adicionar um novo elemento)

In [10]:
lista01 = ['23', '34', '87']

In [11]:
lista01

['23', '34', '87']

In [15]:
#Modificar o primeiro elemento da lista
lista01[0] = '10'

In [13]:
lista01

['10', '34', '87']

In [16]:
#Concatenando listas

nomes + lista01

['André', 'João', 'Maria', 3, 48, '10', '34', '87']

In [33]:
#Adicionar um novo elemento na lista

print(lista01)
lista01.append('30')
print(lista01)

['10', '34', '87']
['10', '34', '87', '30']

In [34]:
#Retirar elemento da lista
#Se usar apenas pop() remove o último elemento

lista01.pop(0)
print(lista01)

['34', '87', '30']

In [37]:
#Método "sort" para classificar por ordem crescente / alfabética
idade = [10, 25, 56, 21, 32]
nomes01 = ['Rosana', 'Ana', 'Júlia', 'Marcelo']

idade.sort()
nomes01.sort()

print(idade)
print(nomes01)

[10, 21, 25, 32, 56]
['Ana', 'Júlia', 'Marcelo', 'Rosana']

In [38]:
#Método "reverse" para classificar em ordem decrescente

idade.reverse()
print(idade)

[56, 32, 25, 21, 10]

In [40]:
#Unir mais de uma lista em outra lista criando uma espécia de matriz

lista1 = [1,2,3]
lista2 = [3,4,5]
lista3 = [7,8,9]

matriz = [lista1, lista2, lista3]

print(matriz)

[[1, 2, 3], [3, 4, 5], [7, 8, 9]]

In [41]:
#Acessar um elemento específico dentro de uma lista na matriz

print(matriz[1])

print(matriz[1][0])

[3, 4, 5]
3

### Dicionários