<a href="https://colab.research.google.com/github/andrejuniorba/Python-CienciaDeDados/blob/main/Notebook_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science com Python**

Imersão no mundo do Data Science, unindo o fundamental da teoria com a prática em Python.

<center><img src = "http://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png" width="250">

# 01. Elementos básicos

## Hello World

In [ ]:
#função "print" para imprimir na tela a mensagem.

print("Olá mundo!")

Olá mundo

In [ ]:
print("Meu nome é André Luz.")

Meu nome é André Luz.

# Tipos de Variáveis

* integer (int) = 2

* float = 1.432

* strings (str) = "Petrobrás" ou 'Petrobrás'

* boolean (bool) = True ou False

In [ ]:
nome = 'André'
altura = 1.77
idade = 40

type(nome)

str

In [ ]:
type(altura)

float

In [ ]:
type(idade)

int

In [ ]:
print(f"Meu nome é {nome}")
print("Tenho a idade de {} anos".format(idade))
print("Minha altura em metros é {} ".format(altura))

Meu nome é André
Tenho a idade de 40 anos
Minha altura em metros é 1.77

## Operadores Aritméticos

* Soma +

* Subtração -

* Multiplicação *

* Divisão /

* Resto da divisão %

* Divisão (Apenas a parte inteira) //

* Potência **

In [ ]:
a = 5
b = 4

print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a / b)
print(a % b)
print(a**3)

9
1
20
1
1.25
1
125

# Operadores lógicos

### Comparativos:

* Igualdade ==

* Diferente !=

* Menor que <

* Maior que >

* Menor ou igual <=

* Maior ou igual >=

### Condicionais:

* and
* or

In [ ]:
e = 10
f = 14
g = 9
h = 12

print(e == f)
print(e != f)
print(e < f)
print(e > f)
print(e >= f)
print(e <= f)

False
True
True
False
False
True

In [ ]:
print(e > f and g < h)
print(e > f or g < h)

False
True

# 02. Estruturas básicas para armazenamento de dados

## Strings

In [ ]:
manchete = 'Petrobrás é uma empresa de capital aberto'

In [ ]:
print(manchete)

Petrobrás é uma empresa de capital aberto

In [ ]:
type(manchete)

str

In [ ]:
#Comprimento (length) da string

len(manchete)

41

In [ ]:
#Indexação
print(manchete[0])
print(manchete[-1])

#Slicing (1º é inclusivo e o 2º é exclusivo)
print(manchete[:-1])
print(manchete[0:9])
print(manchete[:9])
print(manchete[0:])

#apresentação de 2 em 2 caracteres
print(manchete[::2])

#Inverter a frase
print(manchete[::-1])

P
o
Petrobrás é uma empresa de capital abert
Petrobrás
Petrobrás
Petrobrás é uma empresa de capital aberto
Ptorséuaepead aia bro
otreba latipac ed aserpme amu é sárborteP

### Propriedades das strings

* Imutável (não é possível mudar elementos)
* Adição (concatenar)
* Modificar para Maiúscula (uppercase) ou minúscula (lowercase)

In [ ]:
texto1 = 'André'
texto2 = ' tem 40 anos.'
frase = texto1 + texto2

print(frase)
print(frase.upper())
print(frase.lower())

André tem 40 anos.
ANDRÉ TEM 40 ANOS.
andré tem 40 anos.

In [ ]:
#Método split => Separar as palavras dentro de uma string
#Adicionar em uma lista

print(frase.split())

#adicionar quebra em um ponto específico. Neste caso sempre onde tiver a letra "e"
print(frase.split('e'))

['André', 'tem', '40', 'anos.']
['André t', 'm 40 anos.']

## Listas

In [ ]:
nomes = ['André', 'João', 'Maria', 3, 48]

In [ ]:
type(nomes)

list

In [ ]:
#Indexação e slicing segue o mesmo padrão das strings

print (nomes[1])
print(type(nomes[4]))

João
<class 'int'>

In [ ]:
print('Os aprovados no concurso são ' + nomes[0] + ' e ' + nomes[2])

Os aprovados no concurso são André e Maria

###Propriedades das listas

* São mutáveis
* Adição (concatenação)
* Multiplicar
* append (adicionar um novo elemento)

In [ ]:
lista01 = ['23', '34', '87']

In [ ]:
lista01

['23', '34', '87']

In [ ]:
#Modificar o primeiro elemento da lista
lista01[0] = '10'

In [ ]:
lista01

['10', '34', '87']

In [ ]:
#Concatenando listas

nomes + lista01

['André', 'João', 'Maria', 3, 48, '10', '34', '87']

In [ ]:
#Adicionar um novo elemento na lista

print(lista01)
lista01.append('30')
print(lista01)

['10', '34', '87']
['10', '34', '87', '30']

In [ ]:
#Retirar elemento da lista
#Se usar apenas pop() remove o último elemento

lista01.pop(0)
print(lista01)

['34', '87', '30']

In [ ]:
#Método "sort" para classificar por ordem crescente / alfabética
idade = [10, 25, 56, 21, 32]
nomes01 = ['Rosana', 'Ana', 'Júlia', 'Marcelo']

idade.sort()
nomes01.sort()

print(idade)
print(nomes01)

[10, 21, 25, 32, 56]
['Ana', 'Júlia', 'Marcelo', 'Rosana']

In [ ]:
#Método "reverse" para classificar em ordem decrescente

idade.reverse()
print(idade)

[56, 32, 25, 21, 10]

In [ ]:
#Unir mais de uma lista em outra lista criando uma espécia de matriz

lista1 = [1,2,3]
lista2 = [3,4,5]
lista3 = [7,8,9]

matriz = [lista1, lista2, lista3]

print(matriz)

[[1, 2, 3], [3, 4, 5], [7, 8, 9]]

In [ ]:
#Acessar um elemento específico dentro de uma lista na matriz

print(matriz[1])

print(matriz[1][0])

[3, 4, 5]
3

### Dicionários

In [ ]:
#Os dicionários apesentam em sua estrutura os pares "chave:valor {key:value}"
#Os valores podem ser de qualquer tipo como: números, strings, listas...
precos = {'PETR4': 34.27, 'VALE3': 77.81, 'ITSA4': 9.14}

print (precos)
type(precos)

{'PETR4': 34.27, 'VALE3': 77.81, 'ITSA4': 9.14}

dict

In [ ]:
#Apresentando apenas as chaves
print(precos.keys())

#Apresentando apenas os valores
print(precos.values())

#Apresentando os pares
print(precos.items())

dict_keys(['PETR4', 'VALE3', 'ITSA4'])
dict_values([34.27, 77.81, 9.14])
dict_items([('PETR4', 34.27), ('VALE3', 77.81), ('ITSA4', 9.14)])

In [ ]:
#Indexação
print(precos['PETR4'])

34.27

In [ ]:
#São mutáveis.
#Mudar um determinado valor dentro do dicionário
precos['VALE3'] = 80
print(precos)

{'PETR4': 34.27, 'VALE3': 80, 'ITSA4': 9.14}

In [ ]:
#Adicionar um novo elemento ao dicionário
precos['GOAU4'] = 20

print(precos)

{'PETR4': 34.27, 'VALE3': 80, 'ITSA4': 9.14, 'GOAU4': 20}

##Tuplas

In [ ]:
tupla = (1,1,2,2,4,5,10)

print(tupla)
print(type(tupla))
print(len(tupla))

(1, 1, 2, 2, 4, 5, 10)
<class 'tuple'>
7

In [ ]:
#Indexação e slicing da mesma forma que as listas

print(tupla[0])
print(tupla[1:4])

1
(1, 2, 2)

In [ ]:
#Verificar uma posição (indice)
tupla.index(10)

6

In [ ]:
#Método para contagem de itens iguais

tupla.count(1)

2

## Conjuntos

### Para criar conjunto usamos o método set()

In [ ]:
conjunto = set()

print(conjunto)
print(type(conjunto))

set()
<class 'set'>

In [ ]:
#Adicionar elemento ao conjunto
#Ele não repete elementos
#Não é indexável

conjunto.add(9)
print(conjunto)
print(len(conjunto))

{9}
1

# 03.Condicionais e Loops

## Se então

In [ ]:
preco_azul = 35
preco_alvo = 30

if preco_azul < 30:
  print('Compre! preço descontado')
elif preco_azul < 33:
  print('Em queda. Aguarde mais um pouco')
else:
  print('Espere!')

Espere!

### for

In [ ]:
#Estrutura de repetição 

lista_nomes = ['Joana', 'André', 'Rosana', 'Ana']

In [ ]:
for item in lista_nomes:
  print(item)

Joana
André
Rosana
Ana

In [ ]:
lista_ativos = ['PETR4.SA', 'ITSA4.SA', 'VALE3.SA']

In [ ]:
#concatenando cada elemento com a frase.

for i in lista_ativos:
  print(i,'é um ativo da B3.')

PETR4.SA é um ativo da B3.
ITSA4.SA é um ativo da B3.
VALE3.SA é um ativo da B3.

In [ ]:
ativos01 = {'PETR4.SA': 30, 'ITSA4.SA': 10, 'VALE3.SA': 80}

In [ ]:
#Converter para lista a fim de usar a indexação
x = list(ativos01.keys())
y = list(ativos01.values())

#concatenando uma frase.
for atv in range(0,len(ativos01)):
  print(x[atv], 'está com o valor de',y[atv])

PETR4.SA está com o valor de 30
ITSA4.SA está com o valor de 10
VALE3.SA está com o valor de 80

### While

In [ ]:
#round(numero,quantidade de digitos) usado para arredondar valores.
preco_weg = 30

while preco_weg < 39:
  print('Ainda não atingiu o preço alvo. Aguarde! o preço atual é: ', round(preco_weg,2))
  #criando condição para o loop não ficar infinito
  preco_weg = preco_weg * 1.01

else:
  print('Preço alvo atingido, hora de vender! Preço de venda: ',round(preco_weg,2))

Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  30
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  30.3
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  30.6
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  30.91
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  31.22
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  31.53
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  31.85
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  32.16
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  32.49
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  32.81
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  33.14
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  33.47
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  33.8
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  34.14
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  34.48
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  34.83
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  35.18
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  35.53
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  35.88
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  36.24
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  36.61
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  36.97
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  37.34
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  37.71
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  38.09
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  38.47
Ainda não atingiu o preço alvo. Aguarde! o preço atual é:  38.86
Preço alvo atingido, hora de vender! Preço de venda:  39.25

In [ ]:
#Verificando a condição de investimento de um cliente.

investimento_unitario = 0
investimento_total = 0

while investimento_total < 10000:
  investimento_unitario = int(input('Digite o valor investido na operação: '))
  investimento_total = investimento_total + investimento_unitario

else:
  print('Seu limite para investimento foi atingido.')
  print('Você execedeu R$',investimento_total - 10000, 'do valor previsto.')

print('Seu investimento total foi de R$',investimento_total)

Digite o valor investido na operação: 10000
Seu limite para investimento foi atingido.
Você execedeu R$ 0 do valor previsto.
Seu investimento total foi de R$ 10000

### Range

In [ ]:
print(range(0,11))
print(list(range(0,11)))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

### Enumerate

In [ ]:
lista_ativos = ['PETR4.SA', 'ITSA4.SA', 'VALE3.SA']

enumerate(lista_ativos)

print(list(enumerate(lista_ativos)))

[(0, 'PETR4.SA'), (1, 'ITSA4.SA'), (2, 'VALE3.SA')]

In [ ]:
acao = 'PETR4'

list(enumerate(acao))

[(0, 'P'), (1, 'E'), (2, 'T'), (3, 'R'), (4, '4')]

In [ ]:
for i, letra in enumerate(acao):
  print('No índice', i, 'o caractere é', letra)

No índice 0 o caractere é P
No índice 1 o caractere é E
No índice 2 o caractere é T
No índice 3 o caractere é R
No índice 4 o caractere é 4

### Zip & in

In [ ]:
acoes = ['PETR4', 'WEGE3', 'MGLU3', 'JHSF3', 'GOAU4']
setores = ['Petróleo', 'Motores', 'Varejo', 'Construção', 'Metalurgia']

zip(acoes,setores)

list(zip(acoes,setores))

[('PETR4', 'Petróleo'),
 ('WEGE3', 'Motores'),
 ('MGLU3', 'Varejo'),
 ('JHSF3', 'Construção'),
 ('GOAU4', 'Metalurgia')]

In [ ]:
for acao, setor in list(zip(acoes,setores)):
  print('O papel',acao, 'pertence ao setor', setor)

O papel PETR4 pertence ao setor Petróleo
O papel WEGE3 pertence ao setor Motores
O papel MGLU3 pertence ao setor Varejo
O papel JHSF3 pertence ao setor Construção
O papel GOAU4 pertence ao setor Metalurgia

In [ ]:
#Inserindo variáveis dentro das strings

print(f'O papel {acao} está no setor de {setor}')

O papel GOAU4 está no setor de Metalurgia